body{ 
    
    background-color: hsl(0, 0%, 96%);
}
.background{
    background-image: url(./images/bg-desktop-light.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    height: 45vh;
    max-width: auto;
    margin-top: -10px;
    margin-left: -10px;
    margin-right: -8px;
}
.TodoHeading{
    /* background-color: green; */
    /* margin-top: 50px; */
    margin-top: -12%;
    display:grid;   
}
.headandswitch{
    display: inline-block;
    text-align: center;
    /* background-color: brown; */
    padding: 10px;
    /* margin:20px; */
    margin-top: -7%;
    margin-bottom: 2%;
    margin-left: 450px;
    margin-right: 450px;
}
.head{
    text-align: center;
    padding-right: 170px;
    font-size: 40px;
    letter-spacing: 8px;
    /* font-weight:bold; */
    color: white;
}
.switch{
    text-align: center;
    padding-left: 170px;
}
.switch:hover{
    cursor: pointer;
}
/* .chkButton{
    margin-right: 15px;
    height: 20px;
    width:20px;
    margin-top: 15px;
    
}
.chkButton:hover{
    cursor: pointer;
  
} */
.backgroundImage{
background-image: url(./images/bg-desktop-dark.jpg);
}
/* .toggleLightIcon{
    background-image:url(./images/bg-desktop-dark.jpg);
} */
.body_Darktheme{
    background-color:hsl(235, 21%, 11%);
}
.task{
    background-color:hsl(235, 24%, 19%);
}
.activeColor{
    color:hsl(220,98%,61%);
}
.cancelText{
    color: hsl(236,9%,61%);
    text-decoration:line-through;
}
.checkIn{
    background:linear-gradient(180deg,hsl(192,100%,67%),hsl(280,87%,65%))
}
.inputSection{
    /* display: inline-block; */
    text-align: center;
    /* background-color: brown; */
    background-color: white;
    padding-right: 80px;
    margin:20px;

    display:inline-flex;
    gap: 32px;
    margin-left: 500px;
    margin-right: 500px;
    padding: 5px;
    margin-top: 1px;
    width: 500px;
    border-radius: 5px;
}
.txtButton{
    padding: 15px;
    padding-right: 150px;
    color:black;
    border: 1px solid white;
}
.txtButton:hover{
    cursor: default;
} 
.TodoContainer{
    background-color: blueviolet;
    height: auto;
    width: auto;
    text-align: center;
    margin-top: 32px;

}
.buttom_control{
    background-color: white;
    display:inline-flex;
    gap: 62px;
    margin-left: 500px;
    margin-right: 500px;
    padding: 5px;
    padding-top: 1px;
    padding-bottom: 1px;
    margin-top: 1px;
    width: 500px;
    border-radius: 5px;
    color:hsl(234, 11%, 52%)
}
.buttom_control .first{
    padding:1px;
    padding-left:7px;
    padding-right:18px;
    font-size:16px;
    cursor:default;
}
.buttom_control .middle{
    padding-left:15px;
    padding-right:18px;
    padding:1px;
    font-size:16px;
    display: inline-flex;
    gap: 15px;
    /* cursor: pointer; */
    
}
.buttom_control .last{
    padding-left:15px;
    padding-right:15px;
    padding:1px;
    font-size:16px;
    cursor: pointer;
}
.last:hover{
    color:hsl(237, 14%, 26%)
}
.middle span{
    cursor: pointer;
}
.middle span:hover{
    color:hsl(237, 14%, 26%)
}
.item{
    /* background-color: brown; */
    background-color: white;
    /* background-color:hsl(235, 24%, 19%); */
    display:inline-flex;
    gap: 32px;
    margin-left: 500px;
    margin-right: 500px;
    padding: 5px;
    margin-top: 1px;
    width: 500px;
    border-radius: 5px;

}
.item .text{
    /* background-color: blueviolet; */
    padding: 15px;
    width:400px;
    cursor:pointer;
    font-size: 18px;
    /* color:white; */
    
    /* text-decoration:none; */
}

.item .cross{
    /* background-color: blue; */
    padding: 15px;
    width:10px;
    height: 20px;
}
.item .cross:hover{
    cursor: pointer;
}

.check{
    /* background:linear-gradient(180deg , hsl(192, 100%, 67%) , hsl(280, 87%, 65%)); */
    background-color: white;
    border-radius: 50%;
    border: 2px solid grey;
    width: 10px;
    height: 10px;
    padding: 6px;
    margin-top: 10px;
    margin-left: 15px;
}
.check:hover{
    border: 2px solid hsl(280, 67%, 57%);
    /* border: 2px solid  rgba(34, 27, 56,67%); */
    cursor: pointer;
}

 
.attribution { font-size: 11px; text-align: center; margin-top: 20px; }
.attribution a { color: hsl(228, 45%, 44%); }
